@font-face {font-family: lemon;
			src:url(../fonts/lemonmilk.otf);
			}

@font-face {font-family: chopshop;
			src:url(../fonts/chopshop.ttf);
			}



html,body {
	height:100vh;
	width:100vw;
}


#cover {
width: 100vw;
height: 100vh;
background: url("../images/lhc.jpg");
-webkit-background-size:cover;
}

#title {
font-family: lemon, serif;
width: 100%;
font-size: 50px;
color: white;
line-height: -2em;
letter-spacing: .05em;
text-align: center;}

#subtitle {font-family: chopshop, serif;
width: 100%;
font-size: 3em;
color: white;
line-height: 2em;
letter-spacing: .05em;
word-spacing: .2em;
text-align: center;}

.text {font-family: Roboto, serif;
width: 400px;
font-size: 12pt;
color: #3a3a3a;
line-height: 1.3em;
text-align: left;
padding:20px;
padding-top:30px;
position:relative;
left:200px;
}

#two{position:relative;
bottom:390px;
left:750px;}

.large {font-size:80px;}

#hell {color:pink;}

.image {position:relative;
bottom:340px;}

img{width:50vw;}

#none {color:white;}

#second { -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";}